@model SpelavondenApp.Models.BoardGameNight.BoardGameNightViewModel

@{
    ViewData["Title"] = "Create Board Game Night";
}

<h2>Create Board Game Night</h2>

<form asp-action="Create" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="MaxPlayers" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="MaxPlayers" class="form-control" />
            <span asp-validation-for="MaxPlayers" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Date" class="form-control" type="datetime-local"
                   value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Is18Plus" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <input asp-for="Is18Plus" type="checkbox" />
            <span asp-validation-for="Is18Plus" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street" class="control-label col-md-2">Street</label>
        <div class="col-md-10">
            <input asp-for="Address.Street" class="form-control" />
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address.City" class="control-label col-md-2">City</label>
        <div class="col-md-10">
            <input asp-for="Address.City" class="form-control" />
            <span asp-validation-for="Address.City" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address.HouseNumber" class="control-label col-md-2">House Number</label>
        <div class="col-md-10">
            <input asp-for="Address.HouseNumber" class="form-control" />
            <span asp-validation-for="Address.HouseNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BoardGames" class="control-label col-md-2">Select Board Games</label>
        <div class="col-md-10">
            @foreach (var game in Model.BoardGames)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="SelectedBoardGameIds" value="@game.BoardGameId"
                        @(Model.SelectedBoardGameIds != null && Model.SelectedBoardGameIds.Contains(game.BoardGameId) ? "checked" : "") />
                        <strong>@game.Name</strong>

                        @if (game.Image != null)
                        {
                            <img src="data:image/png;base64,@(Convert.ToBase64String(game.Image))" alt="@game.Name" style="width: 100px; height: auto;" />
                        }

                        <p><em>@game.GameType</em> - <em>@game.Genre</em></p>
                    </label>
                </div>
            }
            <span asp-validation-for="SelectedBoardGameIds" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FoodOptions" class="control-label col-md-2">Food Options</label>
        <div class="col-md-10">
            @foreach (var preference in Enum.GetValues(typeof(Domain.Models.DietaryPreference)).Cast<Domain.Models.DietaryPreference>())
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="FoodOptions" value="@preference"
                        @(preference == Domain.Models.DietaryPreference.NoPreference ? "checked" : "") />
                        @preference
                    </label>
                </div>
            }
            <span asp-validation-for="FoodOptions" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('input[name="FoodOptions"]').change(function () {
                var selectedValue = $(this).val();

                if (selectedValue === "NoPreference") {
                    $('input[name="FoodOptions"]').not('[value="NoPreference"]').prop('checked', false);
                } else {
                    $('input[name="FoodOptions"][value="NoPreference"]').prop('checked', false);
                }
            });
        });
    </script>
}
